@charset "utf-8";

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 2;
    font-family: helvetica, consolas, sans-serif;
    color: #333;
}

h1 {
    font-size: 2.1rem;
    text-shadow: 2px 2px 3px #eee;
}

h2 {
    font-size: 1.5rem;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    padding: .75rem;
    max-width: 64rem;
}

header nav {
    background-color: navy;
    color: #fff;
}



header, footer, footer a {
    text-align: center;
    background-color: navy;
    color: #fff;
}

header img {
    width: 100px;
    height: auto;
    float: right;
}

footer {
    font-size: 1rem;
}


.site-navigation {
    list-style: none;
    text-align: center;
    background-color: rgba(0, 87, 25, 1)
}

.site-navigation li {display:none;}
.site-navigation li:first-child {display: block;}

.site-navigation li a {
    color: #fff;
    padding: .75rem;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}

.site-navigation li.active a {
    color: #fff;
}

.site-navigation li a:hover {
    color:yellow;
    background-color: rgba(0, 87, 25, .5);
}

.responsive li {
    display: block;
}

.active {
    color: yellow;
    background-color: #bbb;
}

@media only screen and (min-width: 50em)  {

    .site-navigation li {display: inline-block;margin: 0 .5rem;}
    .site-navigation li:first-child {display: none;}
    .site-navigation li a {font-size: .9rem; padding: .5rem;}
}