@charset "utf-8";

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 2;
    font-family: helvetica, consolas, sans-serif;
    color: #333;
}

h1 {
    font-size: 2.1rem;
    text-shadow: 2px 2px 3px #eee;
}

h2 {
    font-size: 1.5rem;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .75rem;
    max-width: 64rem;
}

header nav {
    background-color: navajowhite;
}


header, footer, footer a {
    text-align: center;
    background-color: navy;
    color: #fff;
}

header img {
    width: 250px;
    height: auto;
    float: right;
    box-shadow: 3px 3px 3px #777;
}

footer {
    font-size: 1rem;
}

.active {
    color: yellow;
}