.cc {
    padding: 5px 10px;
    margin: 5px 10px;
}

.gospel {
    background-color: #a7cdd4; 
    border-left: 3px solid #3a929d; 
    font-size: smaller;
}

.info {

}

.success {

}

.video {
    background-color: #ddeebb; 
    border: 1px solid #bbeeaa; 
}

.code {
    background-color: #ddd; 
    border: 1px solid #aaa; 
    font-family:consolas, sans-serif;
    display: inline-block;
}