@charset "utf-8";
:root {
    --blue: rgba(51, 119, 170, 1);
    --blue-5: rgba(51, 119, 170, .5);
    --blue-8: rgba(51, 119, 170, .8);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    height: 100%;
}

h1 {
    font-size: 2.1rem;
    text-shadow: 2px 2px 5px #bbb;
    margin: .15rem;
}

.subheading {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #999;
    margin-bottom: .5rem;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    padding: .75rem;
    max-width: 60rem;
}

header nav {
    background-color: navy;
    color: #fff;
}

header,
footer,
footer a {
    text-align: center;
    background-color: navy;
    color: #fff;
    box-shadow: 0 0 30px 3px #777;
}


header img {
    width: 150px;
    height: auto;
    float: right;
    box-shadow: 0 0 30px #777;
}

footer {
    font-size: 1rem;
}

section {
    margin-bottom: 1.5rem;
}

section p {
    margin-bottom: 7px;
}

section p img {
    float: right; 
    margin: 10px;
    width: 100px;
    height: auto;
}

.site-navigation {
    list-style: none;
    text-align: center;
    background-color: rgba(0, 87, 25, 1)
}

.site-navigation li {
    display: none;
}

.site-navigation li:first-child {
    display: block;
}

.site-navigation li a {
    color: #fff;
    padding: .75rem;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}

.site-navigation li.active a {
    color: #fff;
}

.site-navigation li a:hover {
    color: yellow;
    background-color: rgba(0, 87, 25, .5);
}

.responsive li {
    display: block;
}

.active {
    color: yellow;
    background-color: #bbb;
}

.listy {
    margin: .25rem;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: #eee;
}

.fullgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .2rem;
    text-align: center;
    align-items: center;
}

.fullgrid h3 {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-top: 20px;
    border-top: 2px dotted #333;
}

.fullgrid>div {
    margin: .15rem;
    border: 1px solid #bbb;
    padding: .15rem;
    background-color: #eee;
    grid-row: 2;
}

.helper {
    margin: 0 auto;
    font-family: 'Acme', Arial, sans-serif;
}

.helper-report {
    margin: 1rem auto;
    border:1px solid #777;
    background-color:#eee;
    padding: 1rem;
    font-size: smaller;
}

.mainform {
    background-color:lightyellow;
    border: 1px solid #777;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 30px #444;
}

.mainform input {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: larger;
    letter-spacing: 1.2pt;
}

@media only screen and (min-width: 50em) {
    .site-navigation li {
        display: inline-block;
        margin: 0 .5rem;
    }
    .site-navigation li:first-child {
        display: none;
    }
    .site-navigation li a {
        font-size: .9rem;
        padding: .5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .fullgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .fullgrid h3 {
        grid-column: 1 / 5;
    }
}