/* || general styles */

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

h1, h2 {
  margin: 5px;
  font-family: 'Bree Serif', serif;
}

/* header styles */

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  letter-spacing: -2px;
  margin-bottom: 10px;
  color: darkblue;
  border-top: 1px gray solid;
}

header, main, footer {
  text-align: center;
  max-width: 640px;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

main {
  background-color: #ddd;
}

footer {
  font-size: .75rem;
  border-top: 1px black solid;
}
/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

