@media only screen and (min-width: 40em)  {
    
    header img {width: 125px;}
    .headertext {margin-left: 2rem;}
     .headertext h1 {font-size: 2rem;}
     .subheading { font-size: 1rem;}
    .weathersummary {
        display: inline-block;
        margin: 1rem 3.5rem;
        padding: 1.5rem;
        vertical-align: middle;
        color: #fff;
        background-color: rgba(0, 87, 25, .75);
        border: 1pt solid rgba(0, 87, 25);
        font-size: 1.1rem;
        box-shadow: 0 0 30px #333;
        text-shadow: 3px 3px 3px #333;
    }
    
    .site-navigation li {display: inline-block;margin: 0 1rem;}
    .site-navigation li:first-child {display: none;}
    .site-navigation li a {font-size: 1rem;}
    
    main .hero {border:1px solid #777;}

    .weatherdata {
        font-size: 1rem;
    }

    .forecast {
        display: block;
        background: radial-gradient(rgba(0, 87, 25, .75), rgba(0, 87, 25, .95));
        border: 1px solid #777;
        padding: 1rem;
        margin: .25rem auto;
        color:#fff;
        width: 96%;
        position: relative;
        height: 150px;
    }

      .forecast h3 {text-align: center; margin-bottom: .5rem;}
      .forecast table {border-collapse: collapse; text-align: center; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
      .forecast th { border:1px solid #fff; padding: .5rem; background-color: #fff; color: #000;}
      .forecast td { border:1px solid #fff; padding: .5rem; }


    .town-article {
        line-height: 1.2;
    }

    .town-article img {
        width: 250px;
        height: auto;
        margin: 2rem;
        float: right;
    }

    .contactinfo {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: left;
        margin-left: 4rem;
    }

    .map {
        display: inline-block;
        vertical-align: middle;
    }
}