@media only screen and (min-width: 32.5em) {
    header img {
        width: 115px;
    }
    .headertext {
        margin-left: 1.5rem;
    }
    .headertext h1 {
        font-size: 2rem;
    }
    .subheading {
        font-size: .95rem;
    }

    nav {
        display: inline-block;
        width: 200px;
    }

    .site-navigation li {
        display: inline-block;
        margin: 0 .45rem;
    }
    .site-navigation li:first-child {
        display: none;
    }
    .site-navigation li a {
        font-size: .9rem;
        padding: .75rem .35rem;
    }

    main {
        display: inline-block;
    }

    main .hero {
        border: 1px solid #777;
    }
    .weatherdata {
        top: 2rem;
        left: 3rem;
        padding: 1rem;
        margin: .25rem;
    }
    .forecast {
        display: block;
        background: radial-gradient(rgba(0, 87, 25, .75), rgba(0, 87, 25, .95));
        border: 1px solid #777;
        padding: 1rem;
        margin: .25rem auto;
        color: #fff;
        width: 96%;
    }
    .forecast h3 {
        text-align: center;
        margin-bottom: .5rem;
    }
    .forecast table {
        border-collapse: collapse;
        margin: 0 auto;
    }
    .forecast th {
        border: 1px solid #fff;
        padding: .5rem;
        background-color: #fff;
        color: #000;
    }
    .forecast td {
        border: 1px solid #fff;
        padding: .5rem;
    }
    .town-article img {
        width: 250px;
        height: auto;
        margin: 0 2rem;
        float: right;
    }


    .contactinfo {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin-left: 4rem;
    }
    .map {
        display: inline-block;
        vertical-align: middle;
    }
}