* {
        font-family: Ubuntu, Consolas, monospace, sans-serif;
            font-weight: normal;

}

body {
    background-color: #fff;
    /* background-image: url('../images/SANY0942.JPG'); */
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

p {
    margin: 0 0 10px;
    color: red;
}

a {
    color: #3282e6;
    text-decoration: none;
}

#wrapper {
    margin: 0px auto;
    text-align: center;
    width: auto;
}

header {
    color: #333;
    width: 100%;
    height: auto;
    text-align: center;
}

    header date {
        float: right;
        color: #000;
        padding-right: 15px;
        display: table-cell;
        vertical-align: middle;
    }

nav, nav a, nav a:visited {
    color: #cccc33;
}

    nav a:hover {
        color: #fff;
        text-shadow: 0px 10px 10px #222;
    }

nav {
    margin: 10px;
}

video {
    height: auto;
}

main {
    padding: 7px;
    background: radial-gradient(circle, #227722, white);
    color: #222;
    text-align: center;
    overflow: auto;
}

    main img.icon {
        width: 65px;
        height: auto;
        margin: 5px;
    }

section {
    margin: 2px auto;
    border: 1px solid #bbb;
    padding: 7px;
    background-color: #eee;
    color: #333;
    width: 100%;
    white-space: unset;
    word-wrap: break-word;
}

table {
    margin: 5px auto;
    border: 1px solid #eee;
}

    th, td {
        padding: 5px;
        border: 1px solid #bbb;
        text-align: center;
    }

    th {
        background-color: #777;
        color: #eee;
        font-size:larger;
        font-weight:700;
    }

    tr:nth-child(odd) {
        background-color: #ddd;
    }

    td:nth-child(1) {  
        text-align: right;
    }

section ul {
    margin-bottom: 0px;
}

section li {
    list-style-type: none;
}

footer {
    color: #000;
    padding-top: 10px;
    text-align: center;
    font-size: smaller;
    letter-spacing: 1.6pt;
    clear: both;
}

address {
    padding: 7px;
    display: table-cell;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .95em;
    background-color: #eee;
}

date {
    font-family: Consolas, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: semi-condensed;
    display: inline-table;
}

legend {
    font-weight: 700;
    font-stretch: expanded;
}

code {
    background-color: #eee;
    border: 1px solid #aaa;
    font-family: Consolas, 'Courier New', Courier, monospace;
    display: inline-block;
}


/* Class Selectors - warning on growth */

.tablesubrow {
    background-color: darkgray;
    font-weight: 700;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 177px;
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    display: table;
}

.column1, .column2 {
    display: table-cell;
    background-color: #fff;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.date {
    font-size: .9em;
    color: red;
    margin: 10px 0px;
}

.center {
    text-align: center;
    margin: 0px auto;
}

.supercenter {
    margin: 0 auto;
    display: table;
    vertical-align: middle;
}

.right {
    text-align: right;
}

.lead {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 20px;
}

.instructions, .warning, .error, .success, code, .credentials, .questions {
    margin: 7px auto;
    padding: 7px;
    width: 94%;
    font-size: .9em;
    color: #000;
    text-align: left;
}

.instructions {
    background-color: #ddeeff;
    border-left: 5px solid #000087;
}

.success {
    background-color: #ddeebb;
    border-left: 5px solid #008700;
}

.warning {
    background-color: #ffffdc;
    border-left: 5px solid #9f6000;
    border-bottom: 1px solid #9f6000;
}

.error {
    background-color: #E7F4FF;
    border-left: 5px solid #C9DDFA;
}

.credentials {
    background-color: #eee;
    border: 1px solid #aaa;
}

.socialmedia {
    text-align: center;
}

    .socialmedia img {
        border: 0;
        width: 64px;
        height: 64px;
        display: table-row;
    }

.internalLinks, .externalLinks {
    text-align: left;
}

    .internalLinks ul, .externalLinks ul {
        list-style: none;
    }

.multiple-choice ol {
    list-style-type: upper-alpha;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.twocolumncontain {
    margin: 0 auto;
    overflow: auto;
    width: 770px;
}

.twocolumn {
    margin-right: 10px;
    width: 375px;
    text-align: left;
    border: none;
    float: left;
}


/* ID Selectors ??? */
#logo {
    float: right;
    display: inline-flex;
}


/* Media Queries */
@media only screen and (min-width: 767px) {
    section {
        width: 75%;
    }

    h1 {
        font-size: 2.50em;
        text-shadow: 3px 3px 3px #777;
    }

    h2 {
        font-size: 2.00em;
        color: #136688;
    }

    h3 {
        font-size: 1.50em;
        padding: 10px;
        border: 1px solid #eee;
    }
}
