@charset "UTF-8";
:root {
    --blue: rgba(51, 119, 170, 1);
    --blue-8: rgba(51, 119, 170, .8);
    --blue-5: rgba(51, 119, 170, .8);
}

html, body {
    height: 100%;
    line-height: 2;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    background-color: #fff;
    vertical-align: middle;
    font-size: 22px;
}

h1 {
    font-size: 1.5rem;
    font-family: Roboto, Ubuntu, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px #777;
    padding: .5rem;
    background: radial-gradient(ellipse, var(--blue), #000);
    color: #fff;
    
}

p {
    margin: 0 0 1rem;
}

.fullgrid {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: 1fr;
    background-color: #eee;
    box-shadow: 3px 3px 3px #bbb;
}

.entity-item {
    background-color: var(--blue);
    color: #fff;
    text-align: center;
    padding: .25rem;
}

header,
nav,
main,
footer {
    margin: 0px auto;
    max-width: 87em;
}

@media (min-width: 37.5em) {

    h1 {
        font-size: 2.5rem;
    }

    .fullgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 67em) {
    .fullgrid {
        display: grid;
        grid-gap: .1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
