* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1
}

body {
    font-size: 16px;
    font-family: 'Merriweather Sans', consolas, sans-serif;
}

header {
    background-color: rgba(0, 87, 25, .5);
    text-align: center;
    padding: .5rem;
    color: #fff;
}

header img {
    display: inline-block;
    width: 75px;
    height: auto;
    vertical-align: middle;
}

.headertext {
    margin-left: .5rem;
    display: inline-block;
    vertical-align: middle;
}

.headertext h1 {
    font-size: 1.5rem;
    text-shadow: rgba(0, 87, 25, .75) 3px 3px 3px
}

.subheading {
    font-size: .9rem;
    color: rgba(0, 87, 25);
    font-style: italic;
}

.weathersummary {
    display: none;
}

.weathersummary p,
.weathersummary img {
    display: inline-block;
}

header .currentconditions {
    font-weight: 800;
}

header #wsimage {
    width: 60px;
    height: auto;
}

nav {
    background-color: rgba(0, 87, 25, .75);
    color: #fff;
}

.site-navigation {
    list-style: none;
    text-align: center;
}

.site-navigation li {
    display: none;
}

.site-navigation li:first-child {
    display: block;
}

.site-navigation li a {
    color: #fff;
    padding: .75rem;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
}

.site-navigation li.active a {
    color: #fff;
}

.site-navigation li a:hover {
    color: yellow;
    background-color: rgba(0, 87, 25, .5);
}

.responsive li {
    display: block;
}

main,
aside,
footer {
    max-width: 960px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
    margin: 1.5rem 2%;
    text-shadow: rgba(0, 87, 25, .75) 1px 1px 1px;
}

.mainheader {
    position: relative;
}

.mainheader img {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

.weatherdata {
    position: absolute;
    top: 1rem;
    left: 2rem;
    background: radial-gradient(rgba(0, 87, 25, .75), rgba(0, 87, 25, .95));
    border: 1px solid #777;
    padding: .75rem;
    color: #fff;
    box-shadow: 0 0 30px #333;
}

.weatherdata h3 {
    border-bottom: 1px solid #fff;
    margin-bottom: 1rem;
    padding-bottom: 3px;
}

.weatherdata p {
    line-height: 1.2;
}

.weatherdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5rem;
}

.weatherdetails .label {
    text-align: right;
}

.weatherdetails .value {
    color: yellow;
}

.forecast {
    display: none;
}

article {
    margin: 1.5rem 2%;
    border: 1px solid #bbb;
    padding: 1.5rem;
    background-color: rgba(0, 87, 25, .1)
}

article h3 pre {
    font-size: .8rem;
    color: rgba(0, 87, 25, .75);
    font-style: italic;
}

article p {
    font-size: .9rem;
    margin-left: 1%;
    margin-top: .5rem;
    line-height: 1.2;
}

.town-article img {
    width: 96%;
    height: auto;
    margin: 1rem 2%;
    box-shadow: 0 0 30px #333;
}

aside {
    background-color: rgba(0, 87, 25, .25);
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

.asideimage {
    display: none;
}

.contactinfo {
    display: block;
    text-align: center;
    line-height: 1.2rem;
    max-width: 250px;
    text-align: left;
}

.map {
    display: block;
    margin-top: 10px;
    border: 1px solid #000;
}

.map iframe {
    width: 100%;
}

footer {
    background-color: rgba(0, 87, 25, .75);
    font-size: smaller;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1rem;
    color: #fff;
}

/* general class selectors *****************************************/

.fright {
    float: right;
}

.tright {
    text-align: right;
}

.clearfix {
    clear: both;
}

.smallicon {
    width: 24px;
    height: auto;
}